@import './reset';
@import './variables/global';
@import './themes/dark';
@import './themes/light';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.app {
    font: var(--font-m);
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    scroll-behavior: smooth;
}

.content-page {
    padding: 10px 20px;
}

.page {
    border: var(--border);
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--inverted-bg-color);
    min-height: calc(100vh - var(--navbar-height) - var(--page-title-height) - 25px);

    &>div {
        min-height: calc(100vh - var(--navbar-height) - var(--page-title-height) - 65px);
    }
}

:root {
    --scrollbarBgColor: #0000000d;
    --scrollbarThumbColor: #00000026;
    --scrollbarThumbColorSecond: #ffffffb3;
    --scrollbarWidth: 10px;
    --scrollbarBorder: 0 solid var(--scrollbarBgColor);
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 4);
}

*::-webkit-scrollbar {
    width: 6px;
    height: 16px;
}

*::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 16px;
    padding: 10px;
}

*::-webkit-scrollbar-track {
    padding: 10px;
}

.recharts-brush-slide {
    fill: var(--inverted-primary-color);
    fill-opacity: 1;
}

.recharts-brush {
    background-color: black;
    fill: black;

    &>:first-child {
        stroke: none;
        border: 2px solid black;
    }
}