.PageTitleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-bg-color);
    border-bottom: var(--border);
    height: var(--page-title-height);
    padding: 0 10px;
    position: relative;
}

.PageTitle {
    display: flex;
    gap: 5px;

    button {
        cursor: auto;
        align-items: center;
        justify-content: center;
        background-color: var(--inverted-primary-color);
        padding: 5px;
        width: 26px;
        height: 26px;
    }
}