.ExhausterProperty {
    display: grid;
    gap: 5px;
}

.TitleWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    grid-template-columns: 5% 95%;
}

.Title {
    flex: 1 0 90%;
}

.Before {
    flex: 1 0 10%;
}

.Description {
    display: grid;
    gap: 10px;
}