.Exhauster {
    border-radius: 3px;
    display: flex;
    align-items: center;
}

// .container {
//     background-image: url('../../assets/images/exhauster.svg');
// }

.rect {
    position: absolute;
    word-wrap: break-word;

    // &:hover {
    //     background-color: #28f8;
    // }
}