.Gate {
    background: #4a8f40;
    height: 100%;
    position: relative;
    transition: all 1s ease;
}

.GateSecond {
    background: #4a8f40;
    height: 100%;
    position: absolute;
    left: 90%;
}