.light {
    // BG
    --bg-color: #f0f0f0;
    --inverted-bg-color: #fff;
    --alternate-bg-color: #6e6e6e;
    --primary-bg-color: #f4f4f4;
    --secondary-bg-color: #fafafa;
    --dark-bg-color: #434343;

    // Color
    --primary-color: #211f1f;
    --inverted-primary-color: #fab82e;
    --secondary-color: #dedede;
    --inverted-secondary-color: green;

    // Tools
    --border-color: #ddd;

    // States
    --active: #6ca266;
    --inactive: #d1291c;

    // Other
    --warning-bg-color: #fef1db;
    --warning-color: #f37e0d;
    --critical-bg-color: #fcdbcb;
    --critical-color: #e32112;
    --idle-color: #868686;

    // Line
    --line-color: #ddd;
}