<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">

        let socket = io.connect('http://127.0.0.1:5000/test');
        socket.on('connect', function () {
            socket.emit('my_response', {data: '888'});
            socket.on("test_data", (data) => {
                console.log(data);
            });

            socket.emit('my_response', {data: '789'});
        });


        socket.emit('my_response', {data: '1010'});


    </script>
</head>
<body>

</body>
</html>