.Chip {
    padding: 2px 6px;
    border-radius: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.small {
    font: var(--font-s);
}

.medium {
    font: var(--font-m);
}

.large {
    font: var(--font-l);
}

.idle {
    background-color: var(--primary-bg-color);
    border: var(--border);
}

.warning {
    background-color: #f6dbb6;
    border: 2px solid #fac78f;
}

.critical {
    background-color: var(--warning-bg-color);
    color: var(--warning-color);
}