.Label {
    gap: 5px;
    display: grid;
    grid-template-columns: 20px 1fr;

    &> :first-child {
        color: var(--border-color);
        border-bottom: 3px solid var(--border-color);
    }
}

.LabelBody {
    display: grid;
    gap: 5px;
    grid-template-columns: 70% 30%;

    &>* {
        border-bottom: 3px solid var(--border-color);
    }
}